<div class="c-card-list">
  <% posts.each do |post| %>
    <div class="c-card-list__item">
      <% if post.image.attached? %>
        <%# 画像がある場合はタイトルのみ %>
        <div class="c-card-list__body">
          <%= image_tag url_for(post.image), class: 'c-card-list__body-image' %>
        </div>
        <div class="c-card-list__sub">
          <div class="c-card-list__sub-category <%="c-card-list__sub-category--#{post.category_before_type_cast}"%>">
            <%= post.category %>
          </div>
          <div class="c-card-list__sub-like">
            <%= link_to("/posts/#{post.id}") do %>
              <%= render "components/like", post: post %>
            <% end %>
          </div>
        </div>
        <div class="c-card-list__footer">
          <p><%= post.title %></p>
        </div>
      <% else %>
        <%# 画像がない場合は詳細表示 %>
        <div class="c-card-list__body">
            <%= link_to("/posts/#{post.id}") do %>
              <div class="uk-card-title"><%= post.title %></div>
            <% end %>
            <%= render "components/like", post: post %>
            <p><%= post.content %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
