<div class="container uk-flex uk-flex-wrap-between uk-flex-wrap cards-wrapper">
  <% posts.each do |post| %>
    <div class="card-wrapper uk-flex">
      <% if post.image.attached? %>
        <%# 画像がある場合はタイトルのみ %>
        <div class="card uk-card uk-card-small uk-card-default uk-card-body link-box pict-card">
          <%= link_to("/posts/#{post.id}", class: "link") do %>
            <div class="uk-card-header">
              <div class="uk-card-media-top uk-text-center">
                <%= image_tag url_for(post.image)%>
              </div>
              <%= render "components/like", post: post %>
            </div>
            <div class="uk-hr"></div>
            <p><%= post.title %></p>
          <% end %>
        </div>
      <% else %>
        <%# 画像がない場合は詳細表示 %>
        <div class="card uk-card uk-card-small uk-card-default uk-card-body link-box">
            <div class="uk-card-header">
              <%= link_to("/posts/#{post.id}", class: "link") do %>
                <div class="uk-card-title"><%= post.title %></div>
              <% end %>
              <%= render "components/like", post: post %>
            </div>
            <div class="uk-hr"></div>
            <p><%= post.content %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
