<script type="text/javascript">
  $(function(){
    common()
  });
</script>

<div class="top-main">
  <div class="top-massage">
    <h2>iMERGE</h2>
    <p>〜アイディアをかたちに〜</p>
  </div>
  <div class="button-to-about">
    <%= link_to "iMERGEとは", "/about", class: "button is-primary is-rounded" %>
  </div>
</div>
<div class="c-category-list">
  <div class="c-category-list__title">
    テーマから選ぶ
  </div>
  <div class="c-category-list__sub-title">
    THEME
  </div>
  <ul class="c-category-list__wrap">
    <% Post.categories.each do |category_text, category_id| %>
      <li class="c-category-list__item">
        <%= link_to posts_index_path('q[category_eq]': category_id) do %>
          <div>
            <%= image_tag "categories/#{category_id}.png", class: 'c-category-list__image'  %>
          </div>
          <div class="c-category-list__link-text">
            <%= category_text %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<section class="main-posts-index section">
  <div class="c-category-heading">
    <div class="c-category-heading__title">
      新着アイデア
    </div>
    <div class="c-category-heading__sub-title">
      NEW
    </div>
  </div>

  <%= render "components/cards", posts: @posts %>

  <div class="more-btn">
    <%= link_to 'もっと見る', posts_index_path('q[s]': Post::SELECT_MAP_FOR_SORT[:'新着順']) %>
  </div>
</section>

<section class="main-posts-index section">
  <div class="c-category-heading">
    <div class="c-category-heading__title">
      注目アイデア
    </div>
    <div class="c-category-heading__sub-title">
      POPULAR
    </div>
  </div>

  <%= render "components/cards", posts: @likes %>

  <div class="more-btn">
    <%= link_to 'もっと見る', posts_index_path('q[s]': Post::SELECT_MAP_FOR_SORT[:'注目度順']) %>
  </div>
</section>

<section class="main-posts-index section">
  <div class="c-category-heading">
    <div class="c-category-heading__title">
      最近更新されたアイデア
    </div>
    <div class="c-category-heading__sub-title">
      RECENTLY UPDATED
    </div>
  </div>

  <%= render "components/cards", posts: @posts_updated_order %>

  <div class="more-btn">
    <%= link_to 'もっと見る', posts_index_path('q[s]': Post::SELECT_MAP_FOR_SORT[:'更新順']) %>
  </div>
</section>

<section class="main-posts-index section">
  <div class="c-category-heading">
    <div class="c-category-heading__title">
      ランダム
    </div>
    <div class="c-category-heading__sub-title">
      RANDOM
    </div>
  </div>

  <%= render "components/cards", posts: @posts_random %>
</section>

<% if @posts_recommend.present? %>
<section class="main-posts-index section">
  <div class="popularity container">
    <%= image_tag('/img10.png') %>
    <span>今日の一押し</span>
  </div>

  <%= render "components/cards", posts: @posts_random %>
</section>
<% end %>

<br>
