<%= form_for @post do |f| %>
  <div class="form">
    <div class="form-body">
      <% @post.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
      <% end %>
      <p>タイトル</p>
      <%= f.text_field(:title) %>
      <br>
      <p>カテゴリー：<br>
      <%= f.select :category, Post.categories.keys.map { |k| [t("post.categories.#{k}"), k] }, {} %>
      <br>
      <p>本文</p>
      <%= f.text_area :content %>
      <%= f.file_field :image %><br>
      <input type="submit" value="投稿">
    </div>
  </div>
<% end %>
