<section class="section posts-index">

  <div class="search-form-wrapper container uk-flex uk-flex-stretch">
    <%= search_form_for @q, class: "uk-form-horizontal form uk-width-1-1" do |f| %>
      <div class="uk-margin">
        <%= f.label :category_eq, 'カテゴリー', class: "uk-form-label uk-text-center" %>
        <div class="uk-form-controls uk-margin-small">
          <%= f.select :category_eq, Post.categories.map { |k, v| [t("post.categories.#{k}"), v] }, {include_blank: true}, class: 'uk-select' %>
        </div>
        <!-- NOTE: params[:q][:s]は、ransackの機能でsort順序を指定できる -->
        <%= f.label :s, '並び順', class: "uk-form-label uk-text-center" %>
        <div class="uk-form-controls uk-margin-small">
          <%= f.select :s, Post::SELECT_MAP_FOR_SORT.map { |k,v| [k, v] },
            {selected: params.dig(:q, :s)},
            class: 'uk-select'
        %>
        </div>
        <div class="buttons has-addons is-centered">
          <input type="submit" value="検索" ></input>
        </div>
      </div>
    <% end %>
  </div>
  <div class="uk-hr"></div>
  <div class="container uk-flex uk-flex-around uk-flex-wrap-between uk-flex-wrap">
    <% @posts.each do |post| %>
      <div class="card-wrapper uk-flex">
        <% if post.image.attached? %>
          <%# 画像がある場合はタイトルのみ %>
          <div class="card uk-card uk-card-small uk-card-default uk-card-body link-box pict-card">
            <%= link_to("/posts/#{post.id}") do %>
              <div class="uk-card-header">
                <div class="uk-card-media-top uk-text-center">
                  <%= image_tag url_for(post.image)%>
                </div>
                <%= render "components/like", post: post %>
              </div>
              <div class="uk-hr"></div>
              <p><%= post.title %></p>
            <% end %>
          </div>
        <% else %>
          <%# 画像がない場合は詳細表示 %>
          <div class="card uk-card uk-card-small uk-card-default uk-card-body link-box">
              <div class="uk-card-header">
                <%= link_to("/posts/#{post.id}") do %>
                  <div class="uk-card-title"><%= post.title %></div>
                <% end %>
                <%= render "components/like", post: post %>
              </div>
              <div class="uk-hr"></div>
              <p><%= post.content %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="paginate container">
    <%= paginate @posts %>
  </div>
</section>
