<div class="main posts-index">

  <div class="container uk-flex uk-flex-stretch">
    <%= search_form_for @q, class: "uk-form-horizontal form uk-width-1-1" do |f| %>
      <div class="uk-margin">
        <%= f.label :category_eq , class: "uk-form-label uk-text-center" %>
        <div class="uk-form-controls">
          <%= f.select :category_eq, Post.categories.map { |k, v| [t("post.categories.#{k}"), v] }, {include_blank: true}, class: 'uk-select' %>
        </div>
        <!-- NOTE: params[:q][:s]は、ransackの機能でsort順序を指定できる -->
        <%= f.label :s , class: "uk-form-label uk-text-center" %>
        <div class="uk-form-controls">
          <%= f.select :s,
            [
              ['新着順', 'created_at desc'],
              ['注目度順', 'likes_count desc'],
              ['更新順', 'updated_at desc']
            ],
            selected: params.dig(:q, :s),
            class: 'uk-select'
        %>
        </div>
        <div class="uk-form-controls">
          <input type="submit" value="検索" ></input>
        </div>
      </div>
    <% end %>
  </div>
  <div class="container uk-flex uk-flex-around uk-flex-wrap-between uk-flex-wrap">
    <% @posts.each do |post| %>
      <div class="uk-flex">
        <div class="card uk-card uk-card-small uk-card-default">
          <div class="uk-card-header">
            <% if post.image.attached? %>
              <div class="uk-card-media-top uk-text-center">
                <%= image_tag url_for(post.image)%>
              </div>
            <% end %>
            <h3 class="uk-card-title">
              <%= link_to(post.title, "/posts/#{post.id}") %>
            </h3>
          </div>
          <div class="uk-hr"></div>
          <div class="uk-card-body">
            <%= post.content %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
