<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item uk-margin-remove" uk-grid>
      <div class="uk-flex uk-width-1-1 uk-padding-small">
        <ul class="uk-comment-list uk-width-1-1">
          <li>
            <div class="uk-comment uk-comment-primary uk-visible-toggle">
              <div class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                  <img class="uk-comment-avatar" src="<%= "/user_images/#{@user.image_name}" %>">
                </div>
                <div class="uk-width-expand">
                  <div class="uk-flex uk-flex-between">
                    <div>
                      <h4 class="uk-comment-title uk-margin-remove">
                        <%= link_to(@user.name, "/users/#{@user.id}", class: 'uk-link-reset') %>
                      </h4>
                      <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                        <li>
                          <%= I18n.l @post.created_at %>
                        </li>
                        <li>
                          <%= render "components/like", post: @post %>
                        </li>
                        <li>
                          <%= @likes_count %>
                        </li>
                      </ul>
                    </div>
                    <% if @post.user_id == @current_user.id %>
                      <div>
                        <div class="posts-menus">
                          <%= link_to("編集", "/posts/#{@post.id}/edit") %>
                          <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post", data: { :confirm => '削除します。よろしいですか?'}}) %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="uk-comment-body">
                <div class="uk-text-lead">
                  <%= @post.title %>
                </div>
                <div class="">
                  <%= @post.content %>
                </div>
              </div>
            </div>
          </li>
          <ul class="uk-padding-large uk-padding-remove-right uk-padding-remove-top uk-width-1-1">
            <li>
              <%= render partial: 'comments/form', locals: { post: @post, comment: @comment } %>
            </li>
            <div id="comments_area">
              <%= render partial: 'comments/index', locals: { comments: @comments } %>
            </div>
            <hr class="uk-width-1-1"></hr>
          </ul>
        </ul>
      </div>
  </div>
</div>
