<!DOCTYPE html>
<html>
  <head>
    <title>iMERGE~アイディアをかたちに~</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.5, user-scalable=yes">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.11/css/uikit-core.min.css', media: 'all' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css', media: 'all' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.11/js/uikit.min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.11/js/uikit-icons.min.js' %>

    <%= favicon_link_tag "logo/favicon.jpg" %>
  </head>

  <body>
    <header>
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <div class="navbar-item header-logo">
              <%= link_to image_tag("logo/ttl-logo.png"), "/" %>
            </div>
            <span class="navbar-burger burger" data-target="navMenu">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-end">
              <ul class="header-menus">
                <% current_user = User.find_by(id: session[:user_id]) %>
                <% if @current_user %>
                <li>
                  <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
                </li>
                <li>
                  <%= link_to("投稿一覧", "/posts/index") %>
                </li>
                <li>
                  <%= link_to("新規投稿", "/posts/new") %>
                </li>
                <li>
                  <%= link_to("ユーザー一覧", "/users/index") %>
                </li>
                <li>
                  <%= link_to("ログアウト", "/logout", {method: :post}) %>
                </li>
                <% else %>
                <li>
                  <%= link_to("iMERGEとは", "/about") %>
                </li>
                <li>
                  <%= link_to("新規登録", "/signup") %>
                </li>
                <li>
                  <%= link_to("ログイン", "/login") %>
                </li>
                <% end %>
              </ul>
            </div>
        </div>
      </nav>
    </header>

    <script type="text/javascript">
      (function(){
          var burger = document.querySelector('.burger');
          var nav = document.querySelector('#'+burger.dataset.target);
          burger.addEventListener('click', function(){
              burger.classList.toggle('is-active');
              nav.classList.toggle('is-active');
          });
      })();
    </script>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>

    <footer class="">
        <nav class="footer-main">
          <ul class="footer-li">
            <li class="footer-a"><%= link_to "利用規約", "/rules" %></li>
            <li class="footer-a"><%= link_to "プライバシーポリシー", "/privacy" %></li>
            <li class="footer-a"><%= link_to "お問い合わせ" %></li>
          </ul>
        </nav>
        <div class="footer-main-logo">
          <%= link_to image_tag("logo/ttl-logo.png", class: 'footer-logo'),  "/" %>
        </div>
        <div class="copy"><small>©2019 iMERGE</small></div>

      </footer>

    <p id="page-top"><a href="#wrap">PAGE to TOP</a></p>

  </body>
</html>
